<div class='comment' [ngStyle]="{ 'background-color' : backgroundColor }">
    <div class='upvote-btn comment-upvote-btn'>
        <span [style.color]="UserUpvoted(post) ? 'orange' : ''" class='upvote' (click)='Upvote(post)'>
                    </span><br>
        <span [style.color]="UserDownvoted(post) ? 'blue' : ''" class='downvote' (click)='Downvote(post)'>
                    </span>
    </div>
    <div class='content' style="margin-top:5px;margin-left:-5px;margin-bottom:5px;">
        <div>
            <div>
                <a href='javascript:void(0);' style="font-size:small">[-]</a>
                <a class='author'>{{comment.creator.userName}}</a>
                <span class='score'>{{comment.score}} points</span>
                <span class='date'> <1min ago</span><br>
                <span class='text'>{{comment.text}}</span>
            </div>
            <div class='sub'>
                <a href='javascript:void(0);' (click)='ShowReply()'>reply</a>
            </div>
        </div>

        <div class='comment-input' *ngIf='showReply'>
            <textarea [(ngModel)]='replyText' id="Txt" name="Txt" value=""></textarea><br>
            <button (click)='Reply()'>Submit</button>
            <button (click)='CancelReply()'>Cancel</button>
        </div>

        <ul>
            <li *ngFor='let comment of comment.children'>
                <comment [comment]='comment' [backgroundColor]="backgroundColor === 'white' ? 'rgb(247, 247, 248)' : 'white'"></comment>
            </li>
        </ul>
    </div>
</div>