<div class='comment' [ngStyle]="{ 'background-color' : backgroundColor }">
    <div class='upvote-btn comment-upvote-btn' [style.visibility]="isCollapsed ? 'hidden' : 'inherited'">
        <span [style.color]="userUpvoted(post) ? 'orange' : ''" class='upvote' (click)='upvote(post)'>
                    </span><br>
        <span [style.color]="userDownvoted(post) ? 'blue' : ''" class='downvote' (click)='downvote(post)'>
                    </span>
    </div>
    <div class='content' style="margin-top:5px;margin-left:-5px;margin-bottom:5px;">
        <div>
            <div>
                <a href='javascript:void(0);' class='expander' (click)='collapse()' style="font-size:small">
                    {{isCollapsed ? '[+]' : '[-]'}}
                </a>
                <a class='author' [routerLink]="['/user', comment.creator.userName]">{{comment.creator.userName}}</a>
                <span class='score'>{{comment.score}} points</span>
                <span class='date'> <1min ago</span><br>
                <span class='text' *ngIf='!isCollapsed'>{{comment.text}}</span>
            </div>
            <div class='sub' *ngIf='!isCollapsed'>
                <a href='javascript:void(0);' (click)='doShowReply()'>reply</a>
                <a href='javascript:void(0);' (click)='showHideChildComments()' *ngIf='comment.children?.length > 0'>
                    {{showChildComments ? "hide child comments" : "show " + comment.children.length + " child comments"}}
                </a>
            </div>
        </div>

        <div class='comment-input' *ngIf='showReply'>
            <textarea [(ngModel)]='replyText' id="Txt" name="Txt" value=""></textarea><br>
            <button (click)='reply()'>Submit</button>
            <button (click)='cancelReply()'>Cancel</button>
        </div>

        <ul *ngIf='!isCollapsed && showChildComments'>
            <li *ngFor='let comment of comment.children'>
                <comment [comment]='comment' [backgroundColor]="backgroundColor === 'white' ? 'rgb(247, 247, 248)' : 'white'"></comment>
            </li>
        </ul>
    </div>
</div>