<div class='sidebar'>
    <ul class='sidebar-links'>
        <li>
            <a *ngIf='UserLoggedIn()' href='' class=''>Submit Link</a>
            <a *ngIf='!UserLoggedIn()' href='javascript:void(0)'
                (click)='login()' class=''>Submit Link</a>
        </li>
        <li>
            <a *ngIf='UserLoggedIn()' href='' class=''>Create Subreddit</a>
            <a *ngIf='!UserLoggedIn()' href='javascript:void(0)'
                (click)='login()' class=''>Create Subreddit</a>
        </li>
    </ul>
</div>