.main-content {
    grid-area: main-content;
    width: calc(100vw - 370px);
    padding: 15px;
    margin-left: 45px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    display: table;
    background-color: white;
    
}

.upvote::after {
    content: "▲";
}

.downvote::after {
    content: "▼";
}

.upvote-btn {
    margin-left: 10px;
    text-align: center;
    color: slategray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    display: flex;
}

.post {
    display: flex;
}

.post .content {
    margin-left: 10px;
}

.post .content .sub .creator {
    color: #369;
}

.post .content .sub-2,
.post .content .sub-2 a {
    color: slategray;
    font-weight: bold;
    font-size: small;
}

.post .content .sub,
.post .content .sub a {
    color: slategray;
    font-size: small;
}

.sub a, .sub-2 a {
    margin-right: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}