<div class="main-content">
    <div class='post'>
        <div class='upvote-btn'>
            <span [style.color]="UserUpvoted(post) ? 'orange' : ''" class='upvote' (click)='Upvote(post)'>
                    </span>
            <div [style.color]="UserUpvoted(post) ? 'orange' : UserDownvoted(post) ? 'blue' : ''" class='vote-score'>
                {{ post.score }}
            </div>
            <span [style.color]="UserDownvoted(post) ? 'blue' : ''" class='downvote' (click)='Downvote(post)'>
                    </span>
        </div>
        <div class='image'>
            <a href='//{{post.uri}}'>
                <img src='https://cdn2.iconfinder.com/data/icons/network-roundline/512/link-512.png' style='width:70px;height:70px;margin-left:10px;margin-bottom:10px;'>
            </a>
        </div>
        <div class='content'>
            <a class='post-title' href='//{{post.uri}}'>{{post.title}}</a><br>
            <div class='sub'>
                submitted {{TimePassed(post.created)}} ago by
                <template [ngIf]='post.creator != null'>
                    <a class='creator' [routerLink]="['/user', post.creator.userName]">{{post.creator.userName}}</a>
                </template>
                <template [ngIf]='post.creator == null'>
                    [deleted]
                </template>
            </div>
            <div class='sub-2'>
                <a [routerLink]="['/r', post.subreddit.name, 'comments', post.postId]"> comments</a>
            </div>
        </div>
    </div>

    <div *ngIf='UserLoggedIn()' style="margin-left:10px">
        <textarea class="comment-input" id="Txt" name="Txt" value=""></textarea><br>
        <input type="submit" class="button">
    </div>

    <ul style="margin-left:10px;">
        <li *ngFor='let comment of GetParentComments()' style="display: block">
            <comment [comment]='comment' [comments]='comments' [backgroundColor]="'white'"></comment>
        </li>
    </ul>
</div>

<sidebar style='grid-area:sidebar'></sidebar>