@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.body-content {
    padding: 15px;
    grid-area: main;
    display: inline-grid;
    grid-template-areas:
        "links sidebar";
    min-height: calc(100vh - 86px);
}

#topbar {
    height: 36px;
    grid-area: topbar;
    background-color: #cee3f8;
    z-index:1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
