<div class='main-nav'>
    <div class='navbar'>
        <div class='navbar-header'>
            <a class='navbar-brand' [routerLink]="['/home']">Reddit</a>
        </div>
        <div class=''>
            <div id='menu' class=''>
                <div [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        Register
                    </a>
                </div>
                <div [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        Log In
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
