li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    z-index: 1;
}

.main-nav>:first-child {
    margin-left: 45px;
}

.main-nav>:last-child {
    margin-right: 45px;
}

.navbar {
    height: 100%;
}

.navbar-header {
    float: left;
    font-size: 18px;
    padding: 10px 0px;
}

.navbar-brand {
    color: black;
    font-size: larger;
    text-decoration: none !important;
}

#menu {
    padding: 10px 0px;
}

#menu div {
    float: right;
}

#menu a {
    margin: 0 5px;
    color: #369;
    text-decoration: none;
}
