<div class='main-nav'>
    <div class='navbar'>
        <div class='navbar-header'>
            <a class='navbar-brand' [routerLink]="['/home']">Reddit</a>
        </div>
        <div class=''>
            <div id='menu' class=''>
                <div *ngIf='!UserLoggedIn()'>
                    <a (click)='login()'>
                        Log in or register
                    </a>
                </div>
                <div *ngIf='UserLoggedIn()'>
                    <a (click)='logoff()'>
                        Log off
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
